@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf');
}

* {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 80%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.back {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1.2rem;
    color: blue;
}

.back i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.back:hover {
    text-decoration: underline;
}

.container {
    padding: 2rem;
}

.detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 80%;
}

.content .name {
    font-weight: 700;
    font-size: 3rem;
}

.fa-star, .fa-star-half-alt {
    color: green;
    font-size: 1.8rem;
}

.content .price {
    color: #2b2b9e;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.content .buttons {
    display: flex;
    justify-content: left;
    gap: 3rem;
}

.content .buttons button {
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #165316;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}

.content .buttons button:first-child {
    background-color: #ff6347;
}

.content .buttons button .fa-shopping-cart {
    color: #ff6347;
}

.content .description {
    font-size: 1.8rem;
    margin-top: 1.4rem;
}

.similar-dish h3 {
    font-weight: 700;
    margin-top: 4rem;
}

.similar-dish .listDishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.order span {
    color: #2b2b9e;
    font-weight: 600;
    font-size: 1.8rem;
}

.order .btn {
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #165316;
    margin-left: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
}

.dish {
    background-color: #ffffff;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.dish a {
    text-decoration: none;
}

.dish img {
    width: 70%;
    height: 70%;
}

.dish:hover {box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);}

 .dish .fa-heart, .dish .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: antiquewhite;
    color: green;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: none;
}

 .dish .fa-heart {
    right: 1.5rem;
}

.dish .fa-eye {
    left: 1.5rem;
}

.dish:hover .fa-heart, .dish:hover .fa-eye {
    display: block;
}

.dish h3 {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}

.dish h3:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.dish .description {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;}

    .order span {
        font-size: 2.5rem;
    } 

    .dish .fa-heart, .dish .fa-eye {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 45%;
    }

    .detail {
        gap: 0;
        padding: 1rem;
    }
    
    .content .description {
        margin-top: 1.4rem;
    }

    .similar-dish .listDishes {
        justify-content: center;
        align-items: center;
    }

    .similar-dishes-title h3 {
        font-size: 2rem;
    }

    .dish {
        margin: 0;
        padding: 1rem 0;
    }
    
}

@media only screen and (max-width: 300px) {
    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 200px) {html {
    font-size: 35%;
}

    .similar-dish .listDishes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
